<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{{ settings.site_title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" href="{% static 'pages.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'pages.js' %}"></script>
</head>

<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="/" class="header__logo">
                    <img src="{{ settings.header_logo_url }}" alt="logo">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        {% for menu_page in menu_pages %}
                        <li>
                            <a href="{% url 'menu_page' pk=menu_page.pk %}" class="header__link">
                                {{ menu_page.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</body>
</html>