html, body{
    height: 100%;
    margin: 0;
}
.wrapper{
    max-width: 1024px;
    height: 100%;
    margin: auto;
}
.header{
    position: fixed;
    width: 100%;
    max-width: inherit;
    background-color: #A9A9A9;
    z-index: 1;
}
.container{
    padding: 0px 10px 0px 10px;
}
.header__body{
    position: relative;
    display: flex;
    height: 110px;
    align-items: center;
    padding: 0px 10px 0px 10px;
    z-index: 1;
}
.header__logo{
    align-self: flex-start;
    margin: 10px 0px 0px 0px;
    max-height: 70px;
    z-index: 3;
}
.header__logo img{
    max-height: 70px;
    display: block;
    z-index: 3;
}
.header__burger{
    display: none;
}
.header__menu{
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 3;
}
.header__list{
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
    z-index: 3;
}
.header__list li{
    text-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    list-style: none;
    margin: 0px 0px 0px 20px;
}
.header__link{
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}
.content{
    padding: 110px 0px 0px 0px;
    min-height: 100%;
    background-color: #DCDCDC;
}
.container p img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 10px 0px 10px 0px;
}

@media (max-width: 767px){
    body.lock{
        overflow: hidden;
    }
    .header__logo{
        max-height: 40px;
        margin: 5px 0px 0px 0px;
    }
    .header__logo img{
        max-height: 40px;
    }
    .header__body{
        display: flex;
        justify-content: space-between;
        height: 50px;
    }
    .header_picture{
        height: 50px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 6;
    }
    .bef{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 0;
        transition: all 0.3s ease 0s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        background-color: #FFFFFF;
    }
    .mid{
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 8px;
        transition: all 0.3s ease 0s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        background-color: #FFFFFF;
    }
    .aft{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        top: 16px;
        transition: all 0.3s ease 0s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        background-color: #FFFFFF;
    }
    .bef.active{
        transform:rotate(45deg);
        top: 9px;
    }
    .aft.active{
        transform:rotate(-45deg);
        top: 9px;
    }
    .mid.active{
        transform:scale(0);
    }
    .header__menu{
        position: fixed;
        top: -105%;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #808080;
        padding: 10px 10px 20px 10px;
        margin: 0px 0px 0px 0px;
    }
    .header__menu.active{
        top: 0%;
        z-index: 5;
    }
    .header__list{
        display: block;
    }
    .header__list li{
        margin: 0px 0px 20px 0px;
    }
    .content{
        padding: 50px 0px 0px 0px;
    }
}




